.heroHeader {
    img {
        max-width: 125px;
        margin-bottom: -30px;
    }

    .desktopEgg {
        display: none;
    }
    
    .mobileEgg {
        display: block;
        margin: 0 auto;
    }

}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}