form, .generatedMovie{
  display: flex;
  flex-direction: column;
  align-items: center;

}

form{
  label{
    font-size: 1.45rem;
  }
  select{
    margin: 4% 0%;
    padding: 1%;
    text-align: center;
    font-size: 1.5rem;
    // maybe a daker teal here??
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    letter-spacing: 1px;
    font-family: $headerFont1;
    background-color: $backgroundPrimary;
    border: 5px solid $accentPrimary;
    border-radius: 5px;
    max-width: 450px;
    width: 100%;
    option {
      font-family: $accentFont, sans-serif;
      font-size: 1rem;
      text-shadow: none;
    }
  }
}

button,select{
  max-width:450px;
}

.overview, .intro p{
  max-width:550px;
  text-align:center;
}