html {
    font-size: 125%;
    line-height: 1.3;
    color: #fff;
}

body {
    font-size: .8rem;
    font-family: $bodyFont;
    font-weight: 700;
}

h1 {
    font-family: $headerFont1;
    font-size: 4.5rem;
    color: $accentPrimary;
    text-shadow: 3px 3px $accentTertiary, -3px -3px $primaryFontColor;
}

h3{
    font-size: 1.6rem;
}

h2, h3, label, button {
    font-family: $accentFont;

}

.ratingDiv, .dateLanguage {
    font-weight: 800;
    letter-spacing: 0.5px;
    font-size: 1rem;
}