$backgroundPrimary: #2EC1AC;
$backgroundSecondary: #037474;

$accentPrimary: #D2E603;
$accentSecondary: #EFF48E;
$accentTertiary: #484137;
$accentQuaternary: #000;

// this was downgraded to a text highlight
$primaryFontColor: #fffdd1;
// upgraded to primary font colour
$secondaryFontColor: #FFF;



$bodyFont: "Raleway";
$headerFont1: "Lobster";
$accentFont: "Fugaz One";