html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
  line-height: 1.3;
  color: #fff;
}

body {
  font-size: 0.8rem;
  font-family: "Raleway";
  font-weight: 700;
}

h1 {
  font-family: "Lobster";
  font-size: 4.5rem;
  color: #D2E603;
  text-shadow: 3px 3px #484137, -3px -3px #fffdd1;
}

h3 {
  font-size: 1.6rem;
}

h2, h3, label, button {
  font-family: "Fugaz One";
}

.genreRating, .dateLanguage {
  font-weight: 800;
  letter-spacing: 0.5px;
  font-size: 1rem;
}

body {
  background-color: #2EC1AC;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper {
  max-width: 1260px;
  width: 95%;
  margin: 0 auto;
  height: 100%;
}

header, main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 5%;
}

.intro, form, .generatedMovie {
  background-color: #037474;
  border: 4px solid #D2E603;
  border-radius: 15px;
  margin-top: 20px;
  padding: 5%;
  -webkit-box-shadow: 5px 5px #484137, -3px -3px #fffdd1;
          box-shadow: 5px 5px #484137, -3px -3px #fffdd1;
}

.intro, form {
  max-width: 650px;
  width: 100%;
}

.overview, .intro p {
  max-width: 550px;
  text-align: center;
}

.poster {
  width: 100%;
  border-radius: 6px;
  max-width: 350px;
}

footer {
  background: #000;
  width: 100%;
  max-height: 75px;
  padding: 3% 0;
  margin-top: 5%;
  color: #D2E603;
}
footer a {
  color: #D2E603;
}
footer a:hover,
footer a:focus {
  color: #FFF;
  text-decoration: none;
}
footer p {
  margin: 0;
}

.heroHeader img {
  max-width: 125px;
  margin-bottom: -30px;
}
.heroHeader .desktopEgg {
  display: none;
}
.heroHeader .mobileEgg {
  display: block;
  margin: 0 auto;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form, .generatedMovie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form label {
  font-size: 1.45rem;
}
form select {
  margin: 4% 0% 10% 0%;
  padding: 1%;
  text-align: center;
  font-size: 1.5rem;
  color: #FFF;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
  letter-spacing: 1px;
  font-family: "Lobster";
  background-color: #2EC1AC;
  border: 5px solid #D2E603;
  border-radius: 5px;
  max-width: 450px;
  width: 100%;
}
form select:hover, form select:focus {
  background-color: #484137;
}
form select option {
  background-color: #2EC1AC;
  font-family: "Fugaz One", sans-serif;
  font-size: 1rem;
  text-shadow: none;
}

button {
  padding: 10px 40px;
  border-radius: 5px;
  background-color: #D2E603;
  border-style: none;
  color: #484137;
  font-size: 1.5rem;
  -webkit-box-shadow: 3px 3px #000;
          box-shadow: 3px 3px #000;
  -webkit-transition: background-color 250ms ease-in-out, -webkit-transform 150ms ease;
  transition: background-color 250ms ease-in-out, -webkit-transform 150ms ease;
  transition: background-color 250ms ease-in-out, transform 150ms ease;
  transition: background-color 250ms ease-in-out, transform 150ms ease, -webkit-transform 150ms ease;
  max-width: 450px;
}

button:hover,
button:focus {
  background-color: #484137;
  color: #D2E603;
}

button:active {
  -webkit-box-shadow: 1px 1px #000;
          box-shadow: 1px 1px #000;
  -webkit-transform: translateY(1px) translateX(1px);
          transform: translateY(1px) translateX(1px);
}

@media (min-width: 500px) {
  .wrapper {
    max-width: 1260px;
    width: 85%;
    margin: 0 auto;
    height: 100%;
  }

  .heroHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .heroHeader .mobileEgg {
    display: none;
  }
  .heroHeader .desktopEgg {
    display: inline-block;
  }
}
@media (min-width: 670px) {
  .heroHeader {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .heroHeader img {
    max-width: 90px;
    margin-bottom: -15px;
    margin-left: 20px;
  }

  .intro, .form, .generatedMovie {
    margin-top: 30px;
  }
}
@media (min-width: 900px) {
  .heroHeader {
    margin-top: 20px;
  }

  .generatedMovie {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .imgContainer {
    margin-right: 50px;
  }

  .movieInfo {
    text-align: left;
  }
  .movieInfo p {
    text-align: left;
  }
}